select {
  width: 154px;
}

select:focus {
  outline:0;
}

input:focus {
  outline:0;
}

#textBox {
  padding-right:60px;
  padding-top:10px;
}

#dropdown {
  padding-right:60px;
}

.fieldDesc {
  padding-right: 10px;
}
