button, .addButton {
  text-align: center;
  margin: auto;
  background-color: #333;
  color: white;
  border: none;
  padding: 3px 7px;
	border-radius: 3px;
}

button:hover, .addButton:hover {
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
}

button:focus, .addButton:focus {
  outline: 0;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
}
