html, body {
  font-family: 'Roboto', sans-serif;
	margin: 0;
	float: left;
	width: 100%;
	height: 100%;
  background: #b9b9b9;
}

.content1 {
	text-align: center;
	margin: auto;
	position: relative;
	z-index: 100;
}
