.navbar {
	border: 0;
	border-radius: 0;
	background-color: #262626;
	font-size:15px;
}

.navbar a{
	color: white !important;
}

.navbar-brand:hover {
	background:#262626 !important;
	color:#ddd !important;
}

.navbar-nav a:hover {
	background:#5e39a3 !important;
}
