table {
	margin:auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border-collapse: collapse;
}

tr {
	border-bottom: 2px solid #5e39a3;
}

td, th {
	padding: 10px;
	border-right: 2px solid #5e39a3;
}

table tr:last-child {
	border-bottom: none;
}

table tr:nth-child(odd) {
	background: #eee;
}

table tr:nth-child(even) {
	background: #ddd;
}

table td:last-child, table th:last-child {
	border-right: none;
}
