{% extends "base.html" %}
{% block content %}
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/addGame.css') }}">
</head>

<div class="row header">
  <div class="col-12">
    <div class="content1">
      <h1>Add a Game</h1>
      <p>Select a game from the list, or add you own!</p>
      <form class="form-horizontal" action="" method="post">
        <!-- Displays the sign in form.
        hidden_tag prevents CSRF -->
        {{ form.hidden_tag() }}
        <div class="form-group">
          <label class="control-label col-sm-5" for="username">Select:</label>
          <div class="col-sm-7">
            {{ form.title }}
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-5" for="pwd">Enter your own:</label>
          <div class="col-sm-7">
            {{ form.addTitle }}
          </div>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <p>
          {% for message in messages %}
          {% if message != "Game successfully removed!" and message != "A game with that ID was not found. Please try again." %}
          {{ message }}
          {% endif %}
          {% endfor %}
        </p>
        {% else %}
        <p>​</p>
        {% endif %}
        {% endwith %}
        <input class="addButton" type="submit" value="Add">
      </div>
    </form>
  </div>
</div>
</div>
{% endblock %}
