{% extends "base.html" %}
{% block content %}
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}">
</head>
<div class="row header">
  <div class="col-12">
    <div class="content1">
      {% if gameList %}
      <table>
        <tr>
          <th>Game ID</th>
          <th>Game</th>
        </tr>
        {% for game in gameList %}
          <tr>
            <td>{{ game.game_id }}</td>
            <td>{{ game.title }}</td>
          </tr>
        {% endfor %}
        </table>
        <form class="form-inline" action="" method="post" name="removeGame">
          {{ form.hidden_tag() }}
          <div class="form-group">
            <label class="control-label col-sm-5" for="gameID">Game ID:</label>
            <div class="col-sm-7">
              {{ form.gameID }}
            </div>
          </div>
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          <p>
            {% for message in messages %}
            {{ message }}
            {% endfor %}
          </p>
          {% else %}
          <p>​</p>
          <input class="addButton" type="submit" value="Remove">
          {% endif %}
          {% endwith %}
        {% else %}
        <p>You have no games in your library!</p>
        {% endif %}
        </form>
      </br>
        <a href="addGame"><button>Add a game</button></a>
    </div>
  </div>
</div>
{% endblock %}
