{% extends "base.html" %}
{% block content %}
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<div class="row header">
  <div class="col-12">
    <div class="content1">
      <h1>Welcome to Game List!</h1>
      <p>This site allows you to track the games you've played, rate them,
        and say whether you've completed them</p>
      <p>To get started, <a class="textLink" href="/signIn">log in</a> or <a class="textLink" href="/register">register</a> here!</p>
    </div>
  </div>
</div>
{% endblock %}
