<!-- This line imports the navigation bar from base.html -->
{% extends "base.html" %}
{% block content %}
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
</head>
<div class="row header">
  <div class="col-12">
    <div class="content1">
      <form class="form-horizontal" action="" method="post">
        <!-- Displays the sign in form.
        hidden_tag prevents CSRF -->
        {{ form.hidden_tag() }}
        <div class="form-group">
          <label class="control-label col-sm-5" for="username">Username:</label>
          <div class="col-sm-7">
            {{ form.username }}
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-5" for="pwd">Password:</label>
          <div class="col-sm-7">
            {{ form.password }}
          </div>
        </div>
        <!-- These lines print any error messages that may be there -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <p>
          {% for message in messages %}
          {{ message }}
          {% endfor %}
        </p>
        {% else %}
        <p>​</p>
        {% endif %}
        {% endwith %}
        <input class="addButton" type="submit" value="Sign In">
      </form>
    </div>
  </div>
</div>
</div>
{% endblock %}
